body{
  background-color: black;
}

.optionContainer{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto ;
  align-content: baseline;
  padding: 20px;
  background-color: rgb(255,255,255);
  margin-top: 50px;
  height: 900px;
  width: 60%;
  margin-left: auto;
  margin-right:auto;
  border-radius: 20px;
  grid-gap: 15px 5px;
}

.theCompany{
  align-self: center;
  padding-top: 20px;
  height: 160px;
  width: 400px;
  object-fit: contain;
  cursor: pointer;
}

.clickedCompany {
  background-color: red;
}

#done{
  height: 20%;
  font-size: 18pt;
  justify-content: center;
  width: 40%;
  margin-top: -100px;
  display: flex;
  margin-left: auto;
  margin-right:auto;
  font-style: normal;
  border-radius: 20px;
}

.header{
  padding-top: 50px;
  color: white;
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
  letter-spacing: 2px;
}

.theCompany:hover {
  background-color: green;
}

.theCompany:visited {
  background-color: green;
}