body{
  background-color: black;
}

.optionContainer{
  display: grid;
  grid-template-columns: auto auto;
  align-content: baseline;
  padding: 20px;
  background-color: rgba(255,255,255,.95);
  margin-top: 180px;
  height: 900px;
  width: 70%;
  margin-left: auto;
  margin-right:auto;
  border-radius: 20px;
  grid-gap: 15px 10px;
}

.theCompany{

}